
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<body>
<h1>Список клиентов</h1>
<table>
    <tr>
        <th>номер</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Паспорт</th>
        <th>Телефонный номер</th>
    </tr>
    <tr th:each="client : ${clients}">
        <td th:text="${client.id}"></td>
        <td th:text="${client.name}"></td>
        <td th:text="${client.surname}"></td>
        <td th:text="${client.middleName}"></td>
        <td th:text="${client.passport}"></td>
        <td th:text="${client.telNumber}"></td>
    </tr>
</table>


</body>
</html>
