
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<body>
<h1>Список помещений</h1>
<table>
  <tr>
    <th>номер</th>
    <th>Город</th>
    <th>Улица</th>
    <th>Номер дома</th>
    <th>Этаж</th>
    <th>Номер квартиры</th>
    <th>Площадь помещения</th>
    <th>Стоимость аренды</th>
    <th>Статус</th>

  </tr>
  <tr th:each="flat : ${flats}">
    <td th:text="${flat.id}"></td>
    <td th:text="${flat.city}"></td>
    <td th:text="${flat.street}"></td>
    <td th:text="${flat.houseNum}"></td>
    <td th:text="${flat.floor}"></td>
    <td th:text="${flat.apNum}"></td>
    <td th:text="${flat.apArea}"></td>
    <td th:text="${flat.rentPrice}"></td>
    <td th:text="${flat.status}"></td>

  </tr>
</table>


</body>
</html>
